.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo{
  height: 140px;
}
.icon{
  height: 55px;
  margin-top: -10px;
  margin-left: -15px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.search-history{
  background-color: rgb(247 249 255);
  width: 100%;
  text-align: left;
  padding: 0 10%;
}
.search-history>h1{
  font-weight: 400;
  margin-top: 40px;
}
.search-history-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 70px 0;
}